.GorizontalBar {
  width: 100%;
  height: 130px;
  border-bottom: 1px solid #3a444c;
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  &__header {
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    h1{
        width: 100%;
        font-size: 28px;
        text-align: center;
    }
  }
  &__menu {
    width: 100%;
    height: 60px;
    display: flex;
    align-items:end;
    padding-bottom: 1.5%;
    &-slider {
        max-width: 100%;
        overflow-x: auto;
        display: flex;
        flex-direction: row;
        padding-left: 2%;
        align-items: center;
        gap: 15px;
        scroll-behavior: smooth;
        &__item {
            height: 35px;
            min-width:fit-content;
            width: auto;
            display: flex;
            align-items: center;
            padding-left: 10px;
            border: 1px solid #3a444c;
            cursor: pointer;  
            border-radius: 10px;
            padding-right: 10px;
            transition: 0.5s ;



            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            text-decoration: none;
            
            color: white;
            &:hover{
                transition: 0.5s  !important;
                background-color: #F64C72;
                border: 1px solid #3a444c;
                color: white !important;
            }
            &-active{
                height: 35px;
                width: auto;
                min-width: fit-content;
                display: flex;
                align-items: center;
                padding-left: 10px;
                cursor: pointer;  
                border-radius: 10px;
                padding-right: 10px;
                transition: 0.2s ease;
                background-color: #F64C72;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                text-decoration: none;
                color: white;
                &:hover{
                    transition: 0.5s  !important;
                    color: white !important;        
                }
            }
            // a{
            //     width: auto;
            //     overflow: hidden;
            //     text-overflow: ellipsis;
            //     white-space: nowrap;
            //     text-decoration: none;
            //     color: white;
            // }
        }
        &::-webkit-scrollbar {
          display: none; /* Safari и Chrome */
        }
        &.active {
          cursor: grabbing;
          cursor: -webkit-grabbing;
        }
      }
  }
}
