@import "variables";
.Auth {
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 2;
  justify-content: end;
  &__flex {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    padding-top: 3%;
    align-items: center;
    span {
      color: white;
      font-size: 30px;
      width: 100%;
      text-align: center;
      margin-bottom: 5%;
    }
  }
  &__Container {
    width: 50%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.87);
    margin-right: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &--logo {
      width: 60%;
      height: auto;
      user-select: none;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 5%;
      gap: 10%;
      img {
        width: 130px;
        height: 150px;
      }
      p {
        color: white;
        font-size: 64px;
        font-weight: bold;
      }
    }
    &--forms {
      width: 60%;
      height: 400px;
      justify-content: space-between;
      display: flex;
      flex-direction: column;

      &-progres_bar {
        justify-content: center;
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        .stage {
          position: relative;
          display: flex;
          align-items: center;
          transition: background-color 0.3s, color 0.3s;
        }
        .circle {
          width: 45px;
          height: 45px;
          border-radius: 50%;
          background-color: inherit;
          color: white;
          display: flex;
          border: 1px solid $pink-color;
          font-size: 20px;
          text-align: center;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          transition: background-color 0.3s, color 0.3s;
        }

        .stage.active .circle {
          background-color: $pink-color;
          color: black;
        }

        .line {
          width: 150px;
          height: 2px;
          background-color: #f64c72;
        }
        &__input-block {
          width: 100%;
          height: auto;
          color: white;
          display: flex;
          flex-direction: column;
          gap: 30px;
          &-text {
            width: 100%;
            display: flex;
            font-size: 18px;
            justify-content: center;
            p {
              color: #bdbdbd;
              font-size: 18px !important;
            }
            a {
              margin-left: 2%;
              font-size: 18px !important;
              color: #f64c72;
              cursor: pointer;
              text-decoration: underline;
            }
          }
          button {
            width: 100%;
            height: 60px;
            background-color: $pink-color;
            text-align: center;
            color: black;
            font-weight: bold;
            border-radius: 5px;
            border: none;
          }
          p {
            font-size: 30px;
            color: #f2f2f2;
          }
          &__two {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
          }
        }
      }
      &-param {
        width: 100%;
        display: flex;
        justify-content: space-between;
        a {
          font-size: 18px;
          color: #bdbdbd;
          text-decoration: none;
          transition: 0.2s;
        }
      }
      button {
        width: 100%;
        height: 60px;
        background-color: $pink-color;
        text-align: center;
        color: black;
        font-weight: bold;
        border-radius: 5px;
      }
      &-text {
        width: 100%;
        display: flex;
        font-size: 18px;
        justify-content: center;
        p {
          color: #bdbdbd;
        }
        a {
          margin-left: 2%;
          color: $pink-color;
          cursor: pointer;
          text-decoration: underline;
        }
      }
    }
  }
}
